#mainsection {
    margin: auto;
    width: 80%;
    border: 3px solid grey;
    padding: 10px;
    box-shadow: -15px 20px grey;
}

#our_review {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-decoration: underline; */
    color: cadetblue;
}

.person-img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--clr-primary-5);
    background-color: chartreuse;
    /* position: absolute; */
    top: -0.5rem;
    right: -0.5rem;
    border-radius: 50%;
}


/* #left {
    width: 20px;
    height: 20px;
}

#right {
    width: 20px;
    height: 20px;
} */

.review {
    background: var(--clr-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
}

.review:hover {
    box-shadow: var(--dark-shadow);
}

#person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

#person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.img-container::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--clr-primary-5);
    color: var(--clr-white);
}

.img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--clr-primary-5);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}