{% extends 'registration_base.html' %} {% load static %} {% block content %}


<img style="width:80px; height:80px" src="{% static 'images/latest_updated.gif' %}" alt="">

<br>
<h4 style="color: brown;">Hello users <i class="fa fa-users" aria-hidden="true"></i>, I will be posting here details if you will be having any change in your college curriculum and many more... Stay Updated... </h4>

<div>
    <H1>
        <FONT COLOR="DARKCYAN">
            <CENTER>COLLEGE TIME TABLE</FONT>
    </H1>
    <table border="2" cellspacing="3" align="center">
        <tr>
            <td align="center">
                <td>10:30-11:15
                    <td>11:20-12:05
                        <td>12:10-12:55
                            <td>12:55-01:30
                                <td>01:30-2:15
                                    <td>02:15-3:00
                                        <td>03:00-03:45
                                            <td>04:00-5:00
        </tr>
        <tr>
            <td align="center">MONDAY
                <td align="center">M&EP
                    <td align="center">
                        <font color="blue">ADSA<br>
                            <td align="center">
                                <font color="pink">ADMT<br>
                                    <td rowspan="6" align="center">L<br>U<br>N<br>C<br>H
                                        <td align="center">
                                            <font color="red">CNS<br>

                                                <td align="center">
                                                    <font color="maroon">IPL<br>
                                                        <td align="center">
                                                            <font color="brown">IOT<br>
                                                                <td align="center">counselling class
        </tr>
        <tr>
            <td align="center">TUESDAY
                <td align="center">
                    <font color="blue">ADSA<br>
                        <td align="center">
                            <font color="red">ADMT<br>
                                <td align="center">
                                    <font color="pink">BCE<br>
                                        <td align="center">BCE
                                            <td align="center">
                                                <font color="orange">SL
                                                    <BR>
                                                    <td align="center">
                                                        <font color="maroon">---<br>
                                                            <td align="center">library
        </tr>
        <tr>
            <td align="center">WEDNESDAY
                <td align="center">
                    <font color="pink">IP<br>
                        <td align="center">
                            <font color="orange">CNS
                                <BR>
                                <td align="center">
                                    <font color="brown">M&EP<br>
                                        <td align="center">BCE
                                            <td colspan="3" align="center">
                                                <font color="green"> OLAP
        </tr>
        <tr>
            <td align="center">THURSDAY
                <td align="center">ADMT<br>
                    <td align="center">
                        <font color="brown">M&EP<br>
                            <td align="center">
                                <font color="orange">IP
                                    <BR>
                                    <td align="center">IPL
                                        <td align="center">
                                            <font color="blue">IOT<br>
                                                <td align="center">
                                                    <font color="red">IOT<br>
                                                        <td align="center">library
        </tr>
        <tr>
            <td align="center">FRIDAY
                <td align="center">
                    <font color="orange">ADSA
                        <BR>
                        <td align="center">
                            <font color="maroon">CNS<br>
                                <td align="center">
                                    <font color="blue">IP<br>
                                        <td align="center">OLAP
                                            <td align="center">
                                                <font color="pink">OLAP<br>
                                                    <td align="center">
                                                        <font color="brown">APTITUDE<br>
                                                            <td align="center">library
        </tr>




</div>






{% endblock %} {% block sidebar %}


<div style="margin: auto; width:50%">
    <h4>Connect with us on...</h4>
    <h2><a style="color: black;" href="https://github.com/Shashiprajapati"><i class="fa fa-github" aria-hidden="true"></i></a>

        <a style="color: red;" href="https://www.instagram.com/accounts/login/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <i style="color: green;" class="fa fa-whatsapp" aria-hidden="true"></i>
        <i style="color:blue;" class="fa fa-google-plus" aria-hidden="true"></i>
        <i style="color: red;" class="fa fa-youtube" aria-hidden="true"></i>
    </h2>

</div>{% endblock sidebar%}